body{
  background-color: rgb(24, 24, 24);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
div{
  text-align: center;
}
h1{
  color: rgb(204, 204, 0);
}
.move-icon{
  height: 35px;
}
.move-button{
  background-color: transparent;
  border: 3px solid white;
  border-radius: 100px;
  padding: 25px;
  margin-right: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.move-button:hover{
  opacity: 0.4;
}
.result{
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}
.score{
  margin-top: 35px;
}
.reset-score-button{
  background-color: white;
  border: none;
  font-size: 12px;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.reset-score-button:hover{
  opacity: 0.4;
  transition: opacity 0.3s;
}